<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel='stylesheet' id='bbp-default-css'  href='/css/bbpress.css?ver=2.5.12-6148' type='text/css' media='screen' />
<link rel='stylesheet' id='projects-styles-css'  href='/css/woo-projects.css?ver=1.5.0' type='text/css' media='all' />
<link rel='stylesheet' id='noam-bootstrap-css'  href='/css/bootstrap.css?ver=4.7.3' type='text/css' media='all' />
<link rel='stylesheet' id='noam-style-css'  href='/css/style.css?ver=4.7.3' type='text/css' media='all' />
<link rel='stylesheet' id='noam-fonts-css'  href='/css/fonts.css?ver=4.7.3' type='text/css' media='all' />
<link rel='stylesheet' id='noam-bootstrap-theme-css'  href='/css/bootstrap-theme.css?ver=4.7.3' type='text/css' media='all' />


  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li>footer</li>
   </ul>
  </footer>
  </body>

</html>
